.chess-box {
    margin: 48px auto;
    padding: 0 2%;
}

.chess-box__table-chess {
    width: 100%;
    max-width: 450px;
    margin: 48px auto;
    color: var(--white);
    font-size: 1.25rem;
}

.chess-box__result {
    width: 100%;
    max-width: 300px;
    margin: 32px auto;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--green);
}

.chess-box__list-pieces {
    margin: 16px 0;
    font-size: 1.25rem;
}

.btn-random-matrix {
    width: 100%;
    max-width: 140px;
    height: 42px;
    border-radius: 12px;
    background-color: var(--blue);
    color: var(--white);
    transition: ease-out .3s;
}

.btn-random-matrix:hover {
    background-color: var(--blue-light);
    color: var(--black);
}

/*-- Mobile --*/

@media (max-width: 768px) {
    .chess-box__table-chess { max-width: 400px; }
}